# Terraform 関連の一時ファイルとキャッシュ
.terraform/
_.tfstate
_.tfstate.\*
envs/dev/.terraform.lock.hcl

# ローカル変数ファイル
envs/dev/locals.tf

# 機密情報
keys.json

# GithubActionsにて自動生成される認証ファイル
gha-creds-*.json